* {
  box-sizing: border-box;
}
html a {
  color: inherit;
  text-decoration: none;
}
.card-fiestas-tematicas {
  background: url(/images/fiestastematicas.jpg) center center no-repeat;
}
.card-fiestas-personajes {
  background: url(/images/fiestaspersonajes.jpg) center center no-repeat;
}
.card-accesorios {
  background: url(/images/pompones.jpg) no-repeat;
  background-size: cover;
}

/* .cards__heading {
  width: 200px;
  height: 100px;
  background-color: #fff;
  opacity: 0.85;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  font-size: 20px;
} */

.main-area__button-wrap {
  justify-content: center;
}

.main-area__button {
  margin: 30px 0 50px 0;
  width: 150px;
  text-align: center;
}

.main-area__button,
.form__button {
  background: #ff5959;
  color: #ffffff;
  padding: 15px 25px;
  font-weight: bold;
  border: 1px solid #fff;
}
.main-area__button:hover {
  background-color: #fff;
  text-decoration: none;
  color: #ff5959;
  border: 1px solid #ff5959;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #f8f8f8;

  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
}

.navigation__menu-burger {
  display: flex;

  align-items: center;
  justify-content: space-around;

  height: 50px;
}

.fa-bars {
  color: #ff5959;
}

.navigation__user {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 50px;
}

.navigation__search {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 50px;
  background-color: #bbb8b6;
}

.navigation__cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  height: 50px;
}

.navigation__counter {
  display: grid;
  align-items: center;
  justify-content: space-around;
  background-color: #ff5959;
  height: 50px;
}

.navigation__counter p {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
}

.navigation__icon {
  width: 50px;
  height: 50px;
}

.min-width {
  min-width: 50px;
}

.min-width-container {
  min-width: 250px;
  min-height: 50px;
}

.logos-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-background--mini {
  background-color: #ff5959;
}

.logo-sizer--mini {
  width: 100px;
  height: 100px;
}
.logo-sizer--big {
  width: 500px;
  height: 100px;
}

/* FOOTER */

.footer__services-information {
  display: flex;
  height: 500px;
  flex-direction: row;
  background-color: #7d7d7d;
  align-items: center;
  justify-content: center;
}

.services-information__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}

.services-information--icon-size {
  width: 100px;
  height: 100px;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.card-style p {
  font-size: 10px;
}
.card-style h3 {
  font-size: 15px;

  font-weight: bold;
}

.footer {
  background-color: #f8f8f8;
}

.footer-blank {
  height: 100px;
}

.follow-us {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-us__tittle {
  text-align: center;
}

.icon-container {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff5959;
}

.follow-us__icon-cointainer-wrap {
  border: 1px solid #ff5959;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 0 0 10px 10px;
  margin: 0 3px;
}

.heading__image {
  width: 200px;
  height: 200px;
  margin-top: 150px;
  margin: 0 auto;
}

.main-area {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
}
.main-area__heading {
  flex-direction: column;
  align-content: center;
  margin-top: 150px;
}

.heading__tittle {
  font-weight: bold;
  letter-spacing: 10px;
  padding: 28px 0;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  width: 300px;
  margin-top: 56px;
  margin-bottom: 90px;
  text-align: center;
}

/* FORM */

.form {
  display: flex;
  padding: 50px 60px;

  justify-content: center;
  flex-direction: column;
}

.form__container {
  border-top: 1px solid #bbb8b6;
  border-bottom: 1px solid #bbb8b6;
  display: flex;
  padding: 50px 60px;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0 0 0;
}
.form__link {
  text-decoration: underline;
}
.form__link:hover {
  color: #000000;
}
.form__button {
  width: 100%;
}
.form-tittle {
  text-align: center;
  margin-bottom: 10px;
}
.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
}
.footer__bottom {
  background-color: #ff5959;
  color: white;
  text-align: center;
}

.footer__bottom-text {
  margin: 15px 0;
}

/* FOOTER NAV */

.nav__list {
  justify-content: center;
}
.footer__nav-link {
  color: #ff5959;
}
.footer__nav-link:hover {
  color: #ff5959;
  text-decoration: underline;
}
.nav__list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer__nav {
  padding: 0;
  margin: 30px 0 60px 0;
}
.list__icon {
  background-color: #ff5959;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DESKTOP */

.header__logos {
  height: 50px;
}

.header__navigation {
  height: 50px;
}

.navigation__social-media {
  height: 50px;
}

.navigation__login {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 50px;
}

.container {
  width: 100%;
}

.header__blank--desktop {
  height: 50px;
}

.header__logos {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.logos__container {
  display: flex;
  /* flex-direction: row; */
  width: 330px;
  height: 100px;
  align-items: initial;
}
.logo-background {
  width: 80px;
  height: 80px;
}

.logo-action:hover {
  display: flex;
  align-items: flex-end;
  width: 80px;
  height: 160px;
}

.logo-action__red:hover {
  background-color: #ff5959;
}
.logo-action__blue:hover {
  background-color: #6199af;
}
.logo-action__yellow:hover {
  background-color: #f6b436;
}

.logo-background--red {
  background-color: #ff5959;
}
.logo-background--blue {
  background-color: #6199af;
}

.logo-background--yellow {
  background-color: #f6b436;
}
.logo-background--white {
  background-color: #fff;
}

.navigation__social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

a:hover {
  color: #ff5959;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation__counter--desktop {
  width: 50px;
  height: 50px;
  background-color: #ff5959;
}

.fa-user {
  font-size: 20px;
}

.background {
  border: 1px solid black;
  height: 100px;
}

.header-desktop {
  min-width: 700px;
  justify-content: space-between;
}

.background--grey {
  display: none;
  background-color: #f8f8f8;
  width: 100%;
  height: 50px;
}
.main-area-container--desktop {
  display: none;
}

.main-area__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 640px;
}

.cards {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 200px;
}
.cards--fiestas-tematicas {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 200px;
}
.cards--accesorios {
  display: flex;
  align-items: flex-end;
  width: 500px;
  height: 200px;
}

.cards__highlight,
.cards__highlight--fiestas-tematicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  background-color: #fff;
  opacity: 0.8;
}

.cards__highlight h2,
.cards__highlight--fiestas-tematicas h2 {
  text-align: left;
  font-size: 15px;
}

.highlight__description {
  display: none;
}

.first-two-cards {
  display: flex;
  flex-direction: column;
  height: 420px;
  gap: 20px;
}

.card-tittle__size {
  font-weight: 900;
  width: 120px;
}

@media (min-width: 600px) {
  .background--grey {
    display: flex;
  }
  .header {
    display: none;
  }
  .main-area-container--desktop {
    display: flex;
  }

  .main-area__cards {
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
  }
  .cards--accesorios {
    width: 300px;
    height: 420px;
  }
  .cards--fiestas-tematicas {
    justify-content: flex-end;
  }
  .highlight__description {
    font-size: 10px;
    display: flex;
  }
  .card-tittle__size {
    width: 170px;
  }
}
