.card-fiestas-tematicas {
  background: url(/images/fiestastematicas.jpg) center center no-repeat;
}
.card-fiestas-personajes {
  background: url(/images/fiestaspersonajes.jpg) center center no-repeat;
}
.card-accesorios {
  background: url(/images/pompones.jpg) no-repeat;
}

.cards__shape {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background-size: cover;
  align-items: flex-end;
}
.cards__heading {
  width: 50%;
  height: 50%;
  background-color: white;
  opacity: 0.85;
}
.cards__heading {
  font-weight: bold;
  padding: 15px;
  margin: 0;
}
